// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

html {
	font-size: 62.5%;
}

body {
	color: $text-color;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: $headings-color;
	font-weight: bold;
}

a {
	color: $theme-color;

	&:hover,
	&:focus {
		color: $theme-color;
	}
}
