<h1>SwipeBox</h1>

<div >
    <div>
        <a class="swipebox" href="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" >
            <img src="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_m.jpg" alt="" />
        </a>
    </div>
</div>
